development: &default
  adapter: postgresql
  database: vanilla_rails_development
  encoding: utf8
  min_messages: warning
  pool: 5
  reaping_frequency: 10
  timeout: 5000

test:
  <<: *default
  database: vanilla_rails_test

production: &deploy
  url: <%= ENV['DATABASE_URL'] %>

staging: *deploy
